<div class="modal d-none" id="add-repository-modal" tabindex="-1" role="dialog" data-modal-target="container">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add repository</h5>
        <button type="button" class="btn-close" id="close-add-repository-modal" data-action="modal#close" aria-label="Close">
        </button>
      </div>
      <%= form_with url: admin_repositories_path,
                    method: :post,
                    local: true,
                    data: { 'modal-target': 'form' } do |form| %>
        <div class="modal-body d-flex justify-content-around">
          <div class="row">
            <span class="col-12 mb-2 d-none alert-danger" data-modal-target="error">
            </span>
            <div class="col-12 mb-2">
              <%= form.label :owner, 'Owner' %>
              <%= form.text_field :owner, class: 'form-control', placeholder: 'Owner' %>
            </div>
            <div class="col-12">
              <%= form.label :name, 'Name' %>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= form.submit('Save', class: 'btn btn-primary', id: 'save-repository-btn', data: {action: 'modal#submit'}) %>
          <button type="button" class="btn btn-secondary" data-action="modal#close">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
