<tr class="align-middle">
  <td class="w-30"><span class="text-truncate-2l"><%= comment_template["id"] %></span></td>
  <td class="w-30"><span class="text-truncate-2l"><%= comment_template["content"] %></span></td>
  <td class="w-30"><span class="text-truncate-2l"><%= comment_template["repository"]["full_name"] %></span></td>
  <td class="w-30"><%= format_datetime(comment_template["created_at"].to_date) %></td>
  <td class="w-30"><%= comment_template["status"] %></td>
  <td class="w-30">
    <%= link_to edit_admin_comment_template_path(comment_template["id"]),
                class: 'btn btn-light',
                title: 'Edit Comment Template' do %>
      <%= icon 'file', library: 'boxicons' %>
    <% end %>
    <%= link_to admin_comment_template_path(comment_template["id"]),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger d-inline',
                title: 'Delete Comment Template' do %>
      <%= icon 'trash', library: 'boxicons' %>
    <% end %>
  </td>
</tr>
