<div class="w-100 p-1" data-controller="preview-github-comment">
  <div class="row w-100">
    <div class="form-group col-6">
      <%= form.label :repository_id, 'Repository' %>
      <%= form.select :repository_id,
                      options_for_select(@repositories.map { |r| [r['full_name'], r['id']] },
                                         comment_template.try(:[], 'repository_id')),
                      {include_blank: 'Select repository'},
                      class: 'form-control' %>
      <%= display_errors_hash(@response, :repository_id) %>
    </div>
  </div>
  <div class="row w-100">
    <div class="form-group col-6">
      <%= form.label :content, 'Content' %>
      <%= form.text_area :content,
                         value: comment_template.try(:[], 'content'),
                         class: 'form-control',
                         placeholder: 'Gihub comment template',
                         size: '50x10',
                         data: {action: 'preview-github-comment#generatePreview',
                                'preview-github-comment-target': 'source'} %>
      <%= display_errors_hash(@response, :content) %>
    </div>

    <div class="form-group col-6">
      <%= form.label :preview, 'Preview' %>
      <div class="preview-container"
          id="preview-comment-template"
          data-preview-github-comment-target="preview"></div>
    </div>
  </div>
  <div class="row w-100">
    <div class="form-group col-6">
      <%= form.label :status, 'Status' %>
      <%= form.select :status,
                      options_for_select([['Active', 'active'], ['Draft', 'draft']],
                      comment_template.try(:[], 'status')),
                      {include_blank: 'Select status'},
                      class: 'form-control' %>
      <%= display_errors_hash(@response, :status) %>
    </div>
  </div>
</div>

<div class="mt-2 d-flex flex-row-reverse">
  <%= link_to('Cancel', admin_comment_templates_path, class: 'btn btn-secondary') %>
  <%= form.submit('Save', class: 'btn btn-primary me-2') %>
</div>
