<h1>This is administration page</p>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Post per week</span>
  </div>

  <div class="statistic-data">
    <span><%= @post_per_week || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Post per month</span>
  </div>

  <div class="statistic-data">
    <span><%= @post_per_month || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Server Cost</span>
  </div>

  <div class="statistic-data">
    <span>$<%= @server_cost || '-' %></span>
  </div>
</div>

</br>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Total Access Ip</span>
  </div>

  <div class="statistic-data">
    <span><%= @access[:total_access_in_month] || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Total Request</span>
  </div>

  <div class="statistic-data">
    <span><%= @access[:total_request_in_month] || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Highest Request</span>
  </div>

  <div class="statistic-data">
    <span><%= @access[:highest_request_in_month] || '-' %></span>
  </div>
</div>
