<%= render partial: 'shared/breadcrumbs', locals: { sites: [] } %>

<h1 class="admin-title">Home</h1>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Post per week</span>
  </div>

  <div class="statistic-data">
    <span><%= @post_per_week || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Post per month</span>
  </div>

  <div class="statistic-data">
    <span><%= @post_per_month || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Server Cost</span>
  </div>

  <div class="statistic-data">
    <span>$<%= @server_cost || '-' %></span>
  </div>
</div>

</br>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Total Access Ip</span>
  </div>

  <div class="statistic-data">
    <span><%= @access[:total_access_in_month] || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Total Request</span>
  </div>

  <div class="statistic-data">
    <span><%= @access[:total_request_in_month] || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Highest Request</span>
  </div>

  <div class="statistic-data">
    <span><%= @access[:highest_request_in_month] || '-' %></span>
  </div>
</div>

</br>

<div class="dashboard-card">
  <div class="statistic-title admin-title">
    <span>Total post views</span>
  </div>

  <div class="statistic-data">
    <span><%= @total_views || '-' %></span>
  </div>
</div>

<div class="mt-5">
  <div class="statistic-title admin-title">
    <span>Annually Posts Progress</span>
  </div>

  <div class="progress-bar progress_bar_gold"
       role="progressbar"
       style="<%= 'width:' + @annually_posts_progress.to_s + '%;' %>"
       aria-valuenow="<%= @annually_posts_progress %>"
       aria-valuemin="0"
       aria-valuemax="100">
       <%= @annually_posts_progress.to_s + '%' %>
  </div>
</div>
