<div class="form-group">
  <%= form.label :subject, 'Subject' %>
  <%= form.text_field :subject, class: 'form-control', placeholder: 'Suject' %>
</div>

<%= content_tag :div, "", class: "pickerContainer", data: {
  emoji_picker_target: "pickerContainer"
} %>

<div class="form-group">
  <%= form.label :content, 'Content' %>
  <%= form.rich_text_area :content, class: 'min-vh-60', data: {
    emoji_picker_target: "trixEditor"
  } %>
</div>

<%= form.submit('Create', class: 'btn btn-primary') %>
<%= link_to('Cancel', admin_posts_path, class: 'btn btn-primary') %>
