<h1 class="admin-title">Post Detail</h1>

<h3><%= @post.subject %></h3>
<p class="form-text text-muted">
  <span>Created at: <%= format_datetime(@post.created_at) %>&#8195;</span>
  <span>Updated at: <%= format_datetime(@post.updated_at) %>&#8195;</span>
  <span>Author: <%= @post.author.name || 'NO AUTHOR' %></span>
</p>
<div class="content-area">
  <main class="trix-content site-main"><%= @post.content %></main>
</div>
<%= link_to 'Destroy',
            admin_post_path(@post),
            method: :delete,
            class: 'btn btn-danger',
            data: { confirm: 'Are you sure?' } %>
<% link_to 'Back', admin_posts_path %>
