<div class="modal d-none" id="add-variable-modal" tabindex="-1" role="dialog" data-variable-modal-target="container">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Variable</h5>
        <button type="button" class="btn-close" id="close-add-variable-modal" data-action="variable-modal#close" aria-label="Close">
        </button>
      </div>
      <%= hidden_field_tag :repository_path, admin_variables_path, data: { 'variable-modal-target': 'variablePath' } %>
      <%= form_with url: admin_variables_path,
                    method: :post,
                    local: true,
                    data: { 'variable-modal-target': 'form' } do |form| %>
        <div class="modal-body d-flex justify-content-around">
          <div class="row">
            <span class="col-12 mb-2 d-none alert-danger" data-variable-modal-target="error">
            </span>
            <div class="col-12 mb-2">
              <%= form.label :name, 'Name' %>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Name', data: { 'variable-modal-target': 'nameInput' } %>
            </div>

            <div class="col-12 mb-2">
              <%= form.label :format, 'Format' %>
              <%= form.text_field :format, class: 'form-control', placeholder: 'Format', data: { 'variable-modal-target': 'formatInput' } %>
            </div>

            <div class="col-12 mb-2">
              <div class="form-group">
                <%= form.label :variable_type, 'Variable Type' %>
                <div>
                  <% ["string", "boolean"].each do |variable_type| %>
                    <%= label_tag variable_type.to_sym do %>
                      <%= form.radio_button :variable_type,
                                            variable_type,
                                            data: { 'action': 'variable-modal#changeVariableType',
                                                    'variable-modal-target': 'variableType' + variable_type.capitalize },
                                            checked: variable_type == "string" %>
                      <%= variable_type.capitalize %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-12 mb-2 d-none" data-variable-modal-target="bsmInputContainer">
              <%= form.label :boolean_success_message, 'Value' %>
              <%= form.text_field :boolean_success_message, class: 'form-control', placeholder: 'Value', data: { 'variable-modal-target': 'bsmInput' } %>
            </div>

            <div class="col-12 mb-2 d-none" data-variable-modal-target="bfmInputContainer">
              <%= form.label :boolean_false_message, 'Value' %>
              <%= form.text_field :boolean_false_message, class: 'form-control', placeholder: 'Value', data: { 'variable-modal-target': 'bfmInput' } %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= form.submit('Save',
                          class: 'btn btn-primary',
                          id: 'save-repository-btn',
                          data: {action: 'variable-modal#submit'}) %>
          <button type="button" class="btn btn-secondary" data-action="variable-modal#close">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
