<tr class="align-middle">
  <td class="w-5"><%= announcement.id %></td>
  <td class="w-60"><%= announcement.content.truncate 50 %></td>
  <td class="w-10"><%= announcement.activated %></td>
  <td  class="w-25">
    <% if announcement.activated %>
      <%= button_to 'Deactivate', admin_announcement_path(announcement), method: :patch, params: { announcement: { activated: false } }, class: 'btn btn-light' %>
    <% else %>
      <%= button_to 'Activate', admin_announcement_path(announcement), method: :patch, params: { announcement: { activated: true } }, class: 'btn btn-light' %>
    <% end %>
  </td>
</tr>
