<div class="w-100 p-1">
  <div class="row w-100">
    <div class="form-group col-6">
      <%= form.label :content, 'Content' %>
      <%= form.text_field :content, class: 'form-control', placeholder: 'What do you wanna say?' %>
    </div>
  </div>

  <div class="form-group mt-2">
    <%= form.label :activated, 'Activated' %>
    <div>
      <span>
        <%= form.radio_button :activated, true %>
        <%= 'Activated' %>
      </span>
      <span>
        <%= form.radio_button :activated, false %>
        <%= 'Inactivated' %>
      </span>
    </div>

    <div class="mt-1" id='choose-announcement-duration'>
      <div>Choose the duration</div>
      <%= render partial: 'duration_option' %>
      <%= form.hidden_field :duration, value: nil %>
    </div>
  </div>
</div>

<div class="mt-2 d-flex flex-row-reverse">
  <%= link_to('Cancel', admin_announcements_path, class: 'btn btn-secondary') %>
  <%= form.submit('Save', class: 'btn btn-primary me-2') %>
</div>
