<tr class="align-middle">
  <td><%= reminder.title.truncate 50 %></td>
  <td><%= reminder.content.truncate 50 %></td>
  <td><%= day_format(reminder.day) %></td>
  <td><%= reminder.target_date.in_time_zone(reminder.original_timezone).strftime("%H:%M") %></td>
  <td><%= reminder.only_once ? 'yes' : '-' %></td>
  <td>
    <%= link_to 'Edit', edit_admin_reminder_path(reminder), class: 'btn btn-light' %>
    <%= button_to 'Destroy',
                  admin_reminder_path(reminder),
                  method: :delete,
                  class: 'btn btn-danger',
                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
