<!DOCTYPE html>
<html>
  <head>
    <title>Code để học</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('open-window.png') %>
    <% if Rails.env.production? %>
      <%= render partial: 'shared/prevent_inspect' %>
    <% end %>
  </head>

  <body>
    <div>
      <!-- Navigation-->
      <%= render partial: 'shared/nav_bar' %>
      <%= yield %>
      <!-- Footer-->
      <%= render partial: 'shared/footer' %>
    </div>

    <% if Rails.env.production? %>
      <%= render partial: 'shared/prevent_inspect.js.erb' %>
    <% end %>
  </body>
</html>
