<div class="post-preview">
  <%= link_to user_post_path(post), class: "position-relative" do %>
    <h3 class="post-title d-inline"><%= default_locale? ? post.subject : post.subject_en %>
    </h3>
  <% end %>
  <div>
    <% post.categories.sort_by(&:id).each do |category| %>
      <%= link_to("##{category.name}", user_posts_path(category_name: category.name), class: 'user-category', remote: true) %>
    <% end %>
  </div>
  <p class="post-meta">
    <%= t('posts.post_by') %>
    <%= link_to 'Lưu Đại', about_path %>
    <%= t('posts.at') %> <%= default_locale? ? format_datetime(post.created_at) : format_datetime(post.created_at, '%m-%d-%Y') %>
  </p>
</div>

<hr class="my-4" />
