<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1><%= default_locale? ? @post['subject'] : @post['subject_en'] %></h1>
          <span class="meta">
            <%= t('posts.post_by') %>
            <a href="#!">Lưu Đại</a>
            <%= t('posts.at') %> <%= DateTime.parse(@post['created_at']).strftime('%d-%m-%Y') %>
          </span>
        </div>

        <% if @post['english_version_available'] %>
          <div class="small-announcement">
            <%= link_to t("posts.click_here"), locale: default_locale? ? :en : :vi %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <main class="trix-content site-main"><%= default_locale? ? @post['content']['body'].html_safe : @post['content_en']['body'].html_safe %></main>
      </div>
    </div>
  </div>
</article>
