<tr>
  <td><%= remind.title.truncate 10 %></td>
  <td><%= remind.content.truncate 50 %></td>
  <td><%= day_format(remind.day) %></td>
  <td><%= time_format(remind.hour, remind.minute) %></td>
  <td><%= remind.only_once ? 'yes' : '-' %></td>
  <td>
    <%= link_to 'Edit', edit_admin_remind_path(remind), class: 'btn btn-light' %>
    <%= link_to 'Destroy', admin_remind_path(remind), method: :delete, class: 'btn btn-danger' %>
  </td>
</tr>
