<!DOCTYPE html>
<html>
  <head>
    <title>Code để học</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('open-window.png') %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% elsif alert.present? %>
      <p class="custom-alert"><%= alert %></p>
    <% end %>

    <div class="flex-parent-container">
      <!-- The sidebar -->
      <%= render partial: 'shared/sidebar' if user_signed_in? %>

      <div class="admin-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
