<!DOCTYPE html>
<html>
  <head>
    <title>Code để học</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('open-window.png') %>
  </head>

  <body>
    <%= hidden_field_tag :page_theme, page_theme, id: 'page-theme' %>
    <%= toastr_flash %>

    <div class="flex-parent-container">
      <!-- The sidebar -->
      <%= render partial: 'shared/sidebar' if user_signed_in? %>

      <div class="admin-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
